@import "tailwindcss";


@tailwindcss base;
@tailwindcss components;
@tailwindcss utilities;

@layer base {
  body {
    @apply bg-black text-white antialiased font-sans;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
    color:red;
  }

  ::-webkit-scrollbar-track {
    @apply bg-zinc-950;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-zinc-800 rounded-full hover:bg-zinc-700 transition-colors;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}